/******************************************************************** GENERAL CSS*/
@import url(http://fonts.googleapis.com/css?family=Lato:300);

html {
  color: white;
  font-family: Lato;
}

body {
  height: 1600px;
  background: url(../images/bg_apply.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0.30);
}

header {
  background-color: transparent;
}

div.apply h2 {
  letter-spacing: .2em;
}

div.apply p {
  margin: 0;
}
/******************************************************************** GENERAL CSS*/


/******************************************************************** MAIN DIVISION*/
div.apply {
  margin: 0;
  padding: 0;
  position: relative;
  height: 3em;
}
/******************************************************************** MAIN DIVISION*/

/******************************************************************** TAGLINES*/
div.apply div#mainHeader{
  margin-top: 2em;
}
div.apply div.taglinePlaceholder {
  position: relative;
  margin-top: 1.5em;
  padding:0 1em; 
}

div.apply p.tagline {
  letter-spacing: 0.18em;
  font-size: 0.72em;
}

div.apply p#secondTagline {
  margin-top: 1.77em;
}
/******************************************************************** TAGLINES*/

/******************************************************************** CHOICE HEADER*/
div.apply div#choiceHeaderPlaceholder {
  margin-top: 3.1em;
  margin-bottom: 0;
  width: 80%;
  position: relative;
}

div.apply p.lightText {
  font-weight: light;
  font-size: 0.83em;
  letter-spacing: 0.05em;
}

div.apply p#orText {
  font-size: 1.2em;
}

@media only screen and (max-width: 1100px){
  div.apply p.lightText {
    font-size: 0.7em;
  }   
}
@media only screen and (max-width: 900px){
  div.apply p.lightText {
    font-size: 0.6em;
  }   
}
/******************************************************************** CONTENT*/
div.apply div#content {
  position: relative;
  margin-top: 0.6em;
}
/******************************************************************** LEFT SIDE*/
div.apply div#content div.leftContent {
  margin-top: 1.8em;
}
div.apply div#content img#formLogo{
  width:3.5em;
  height:3.5em; 
}
@media only screen and (max-width: 1100px){
  div.apply div#content img#formLogo{
    width:3.5em;
    height:3.5em; 
  }   
}
@media only screen and (max-width: 900px){
  div.apply div#content img#formLogo{
    width:3.5em;
    height:3.5em; 
  }   
}
/******************************************************************** RIGHT SIDE*/
div.apply div#box {
  margin-left: 14%;
  background-color: #ffffff;
  opacity: 0.4;
    width: 65%;
    height: 28vh; 
}

/******************************* FOR SLIDER ************************************/
/* Jquery Slider */
.jquery-slider {
  height: 100%;
  margin-top: -64px;
  margin-right: 50px;
  margin-left: 50px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.wrap {
  margin-top: 64px;
  width: 3000%;
}

.slider {
  width: 100vh;
  float:left;
  text-align: center;
}

.cursor {
  cursor:pointer;
}

.spon-logo{
  width: 30%;
  margin: 20px auto 50px auto;
}

.spon-banner{
  width: 75%;
  margin: 0 auto;
}