/* Jquery Slider */
.jquery-slider {
  height: 100%;
  margin-top: -64px;
  margin-right: 50px;
  margin-left: 50px;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.wrap {
  /*height: 100%;*/
  margin-top: 64px;
  width: 3000%;
}

.slider {
  /*margin-top: 5%;*/
  width: 100vh;
  float:left;
  text-align: center;
}

.cursor {
  cursor:pointer;
}

.spon-logo{
  width: 30%;
  margin: 20px auto 50px auto;
}

.spon-banner{
  width: 75%;
  margin: 0 auto;
}

.spon-description{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}