section#ieshikawa-events,
section#ieshikawa-days,
section#ieshikawa-workshop {
  background-image: url(../images/grid_bg.jpg);
  background-size: cover;
  background-color: white;
  /*height: 100%;*/
  background-attachment: fixed;
  /*background-repeat: repeat;*/
}

section#ieshikawa-events{
  margin-top: -6.1%;
  height: 105%;
}

section#ieshikawa-events img{
  height: 8.5em;
  width: 8.5em;
}

div.event-content{
  padding: 3px 0px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  div.event-content{
    padding: 3px 0px;
  }
}

div.event-content div.col.hide-on-large-only ul{
  /*list-style: none;*/
  padding-top: 2%;
}

div.event-content div.col.hide-on-large-only ul li{
  display: inline;
  padding-left: 2%;
  padding-right: 2%;
}


div#talks-contents {
  background-image: url("../images/majortalks_header.jpg");
  background-size: cover;
  background-color: white;
  height: 100%;
}

div#talks-contents-small {
  background-image: url("../images/majortalks_header.jpg");
  background-size: cover;
  background-color: white;
  position: relative;
  top: 15%;
  display: table;
}

#talk-header{
  text-align: center;
  position:relative;
  top:25%;
  transform: translateY(-50%);
}

div#days-content{
  /*position: relative;*/
  margin-top: 8em;
}


@media only screen and (max-width: 993px) {
  div#days-content{
    /*position: relative;*/
    margin-top: 8.5em;
  }
}

@media only screen and (max-width: 600px) {
  div#days-content{
    /*position: relative;*/
    margin-top: 22%;
  }
}



h5.major-header-small{
  margin-top: 15px;
  margin-bottom: 0px;
}

.whiteText{
  color:white;
}

#talk-nav{
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

#talk-nav ul li{
  margin: 45px 0px;
}

p.talk-desc.hide-on-small-only{
  padding: 0px 70px;
}

#talk-nav-small{
  text-align:center;
  margin-top: 5%;
}

#talk-nav-small ul{
  margin:0px;
}

#talk-nav-med ul{
  margin:0px;
}

div#talks-contents-med {
  background-image: url("../images/majortalks_header.jpg");
  background-size: cover;
  background-color: white;
  position: relative;
  top: 15%;
  height: 17%;
}

#talk-nav-med{
  text-align:center;
  clear: both;
}

#talk-nav-active{
  text-decoration: underline;
}

#talk-nav-active-s{
  text-decoration: underline;
}

#talk-nav-active-m{
  text-decoration: underline;
}

.talk-desc{
  font-size: 75%;
  text-align: justify;
}

div#event-header{
  background-image: url("../images/3dayevent_header.jpg");
  background-size: cover;
  height: auto;
  padding: 3px 0px;
  margin-top:7%;
}

div.row div p{
  margin: 0px 0px;
}

div#workshop-header{
  background-image: url("../images/workshops_header.jpg");
  background-size: cover;
  display: table;
  /*margin-bottom:20px;*/
  margin-top:7%;
}
section#ieshikawa-workshop div.list-workshop{
  margin-top: 25%;
  color: #1C95A9;
  font-size: 85%;
}
div#workshop-header-small{
  background-image: url("../images/workshops_header.jpg");
  background-size: cover;
  display: table;
  /*margin-bottom:20px;*/
  margin-top:10%;
}

div#workshop-content-top{
  margin: 10px 0px;
}

.img-center{
  display: block;
  margin: 0 auto;
}

.smallText{
  font-size:11px !important;
  margin:0px;
  padding:0px;
}

.extraSmallText{
  font-size:10px;
  margin:0px;
  padding:0px;
}

.list-workshop > ul > li{
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 770px) {
  section#ieshikawa-workshop div.list-workshop{
    margin-top: 35%;
    font-size: 115%;
  }
}

@media only screen and (max-width: 600px) {
  div#workshop-header-small{
    margin-top:15%;
  }

  section#ieshikawa-workshop.hide-on-medium-and-up ul{
    margin-top: 10%
  }

  section#ieshikawa-workshop li.smallText{
    font-size: 100%;
  }
}