<div class='row'>
    <div class='col s12'>
        <p class='comment'>/*diet_optimizer.page*/</p>
        <p></p>
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>Diet Optimizer</h1>
        <p>Diet Optimizer is my CMSC150 project. CMSC150 is a course offered in</p>
        <p>University of the Philippines Los Ba&ntilde;os entitled "Numerical and Symbolic Computations."</p>
        <p>The aim of the project is to implmement Simplex Algorithm to find the optimal diet</p>
        <p>for the user given a list of food. Also, the application should be capable of solve a</p>
        <p>Simplex Problem given a set of constraints and an objective function.</p>
        <p></p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <p></p>
        <p class='tag'>&lt;methodology&gt;</p>
        <p>An Android Application named "Artificial Dietician" successfully implemented the</p>
        <p>project specifications. The application can be used to solve the Simplex problem</p>
        <p>and to find the optimal diet given a list of food. However, the simplex solver</p>
        <p>module of the application assumes that the user inputs the constraints that is</p>
        <p>already in standard form.</p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <p></p>
        <p><a href='#diet.png'>Screenshot</a></p>
        <p></p>
    </div>
</div>