<div>
    <div>
        <p class='comment'>/* diet_optimizer.page */</p>
        <p></p>
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>Diet Optimizer</h1>
        <p></p>
        <p>Diet Optimizer is my CMSC150 project. CMSC150 is a course offered in</p>
        <p>University of the Philippines Los Ba&ntilde;os entitled "Numerical and Symbolic Computations."</p>
        <p>The aim of the project is to <span class='emphasis'>implmement Simplex Algorithm to find the optimal diet</span></p>
        <p><span class='emphasis'>for the user given a list of food</span>. Also, the application should be capable of solve a</p>
        <p>Simplex Problem given a set of constraints and an objective function.</p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <p></p>
        <p class='tag'>&lt;methodology&gt;</p>
        <p><span class='emphasis'>An Android Application named "Artificial Dietician" successfully implemented the</span></p>
        <p><span class='emphasis'>project specifications</span>. The application can be used to solve the Simplex problem</p>
        <p>and to find the optimal diet given a list of food. However, the simplex solver</p>
        <p>module of the application assumes that the user inputs the constraints that is</p>
        <p>already in standard form.</p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <p></p>
        <p><a href='#diet.png'>Screenshot</a></p>
        <p><a target='_blank' href='https://github.com/juliusvega998/cmsc150project.git'>Github repository</a></p>
        <p></p>
    </div>
</div>