<div class='row'>
    <div class='col s12'>
        <p class='comment'>/* systemone_reborn.page */</p>
        <br />
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>SystemOne: Reborn</h1>
        <p>SystemOne is an online enrollment system in the University of the Philippines
        Los Ba&ntilde;os (UPLB) made by the students themselves. It was regarded as a
        slow website where the student needs to wait at least 5 seconds
        so that a page will load. There are even cases that the page will not load at all.</p>
        <br />
        <p>Fortunately, <span class='emphasis'>the latest version of SystemOne, codenamed 'Reborn', fixed
        all of the issues faced by the previous versions of SystemOne.</span></p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <br />
        <p class='tag'>&lt;methodology&gt;</p>
        <p>We used NodeJS on the server side with MySQL as the database of the website.
        The design uses Materialize CSS Framework and jQuery.
        Amazon Web Service is used to provide the server needed to deploy the website.</p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <br />
        <p class='tag'>&lt;contribution&gt;</p>
        <p>I developed the scripts needed for automated testing of the back-end routes of the website.
        I also managed the website by answering the questions of the students
        who had a difficulty while using the website.</p>
        <p class='tag'>&lt;/contribution&gt;</p>
        <br />
        <p><a target='_blank' href='http://systemone-reborn.uplb.edu.ph/'>Website link (already down)</a></p>
        <p><a href='#s1reborn.png'>Screenshot</a></p>
        <br />
    </div>
</div>