<div class='row'>
    <div class='col s12'>
        <p class='comment'>/* diet_optimizer.page */</p>
        <br />
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>Diet Optimizer</h1>
        <p>Twitch Annotator is my project for CMSC 190 entitled "Special Problem".
        <span class='emphasis'>The aim of the project is to create a google chrome extension that could
        classify the emotions of the chat messages found in a Twitch.tv recorded live stream.</span>
        </p>
        <br />
        <p>The technologies used in this project are NodeJS, Twitch API, and Google Chrome extension.
        </p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <br />
        <p class='tag'>&lt;methodology&gt;</p>
        <p>The google chrome extension used artificial intelligence in a form of 
        supervised machine learning such as Naive Bayes Classifier and Support Vector Machines
        to categorize the chat messages into their correct sentiment.</p>
        <br />
        <p> The sentiment was then used to annotate which parts of the recorded live stream 
        are amusing, infuriating, pathetic, or neutral. The google chrome extension showed this
        by using a specific color for each sentiment and presented the aggregation of colors
        below the livestream
        </p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <br />
        <p><a href='#twitch_annotator.png'>Screenshot</a></p>
        <p><a target='_blank' href='https://github.com/juliusvega998/twitch-annotator.git'>Github repository</a></p>
        <br />
    </div>
</div>