<div>
    <div>
        <p class='comment'>/* project_nine.page */</p>
        <p></p>
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>Project NINE: UP CIEM Website</h1>
        <p></p>
        <p>Project NINE is a fund raising project of Alliance of Computer Science Students</p>
        <p>which aims to <span class='emphasis'>improve the website of UP Circle of Industrial Engineer Majors</span>.</p>
        <p>UP CIEM is an Academic Organization based in UP Diliman.</p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <p></p>
        <p class='tag'>&lt;methodology&gt;</p>
        <p>We used native PHP server side with Joomla! as a Content Management System. </p>
        <p>The design of the website uses Materialize CSS Framework</p>
        <p>as well as jQuery to add scripts on the website.</p>
        <p>CPanel is used to deploy the website over the internet.</p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <p></p>
        <p class='tag'>&lt;contribution&gt;</p>
        <p>I created the scripts for the events page in the IEshikawa subdomain page.</p>
        <p>I also implmemented the design of the mobile view of the home page.</p>
        <p class='tag'>&lt;/contribution&gt;</p>
        <p></p>
        <p><a target='_blank' href='http://upciem.org/'>Website link</a></p>
        <p><a href='#nine.png'>Screenshot</a></p>
        <p></p>
    </div>
</div>