<div class='row'>
    <div class='col s12'>
        <p class='comment'>/*systemone_reborn.page*/</p>
        <p></p>
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>SystemOne: Reborn</h1>
        <p>Before the Student Academic Information System (SAIS), SystemOne is the homegrown</p>
        <p>online enrollment system in the University of the Philippines Los Baños (UPLB).</p>
        <p>It was regarded as a slow website where the student needs to wait at least 5 seconds</p>
        <p>so that a page will load. There are even cases that the page will not load at all. </p>
        <p></p>
        <p>However, the latest version of SystemOne codenamed 'Reborn' fixed all of the issues faced</p>
        <p>by the previous versions of SystemOne.</p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <p></p>
        <p class='tag'>&lt;methodology&gt;</p>
        <p>We used NodeJS on the server side with MySQL as the database of the website.</p>
        <p>The design uses Materialize CSS Framework and jQuery is used to implement its one page design.</p>
        <p>Amazon Web Service is used to provide the server needed to deploy the website.</p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <p></p>
        <p class='tag'>&lt;contribution&gt;</p>
        <p>I developed the automated testing of the back-end routes of the website.</p>
        <p>I also managed the website by answering the questions of the students</p>
        <p>who have a hard time using the website.</p>
        <p class='tag'>&lt;/contribution&gt;</p>
        <p></p>
    </div>
</div>