<div class='row'>
    <div class='col l12 hide-on-med-and-down'>
        <p class='comment'>/*twitch_annotator.page*/</p>
        <p></p>
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>Twitch Annotator</h1>
        <p>Twitch Annotator is my project for CMSC 190 entitled "Special Problem".</p>
        <p>The aim of the project is to create a google chrome extension that could</p>
        <p>classify the emotions of the chat messages found in a Twitch.tv </p>
        <p>recorded live stream.</p>
        <p></p>
        <p>The technologies used in this project are NodeJS, Twitch API, and Google Chrome</p>
        <p>extension.</p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <p></p>
        <p class='tag'>&lt;methodology&gt;</p>
        <p>The google chrome extension used artificial intelligence in a form of </p>
        <p>supervised machine learning such as Naive Bayes Classifier and Support Vector Machines</p>
        <p>to categorize the chat messages into their correct sentiment.</p>
        <p></p>
        <p>The sentiment was then used to annotate which parts of the recorded live stream </p>
        <p>are amusing, infuriating, pathetic, or neutral. The google chrome extension showed this</p>
        <p>by using a specific color for each sentiment and presented the aggregation of colors</p>
        <p>below the livestream</p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <p></p>
        <p><a href='#twitch_annotator.png'>Screenshot</a></p>
        <p></p>
    </div>

    <div class='col s12 hide-on-large-only'>
        <p class='comment'>/*diet_optimizer.page*/</p>
        <br />
        <p class='tag'>&lt;introduction&gt;</p>
        <h1>Diet Optimizer</h1>
        <p>Twitch Annotator is my project for CMSC 190 entitled "Special Problem".
        The aim of the project is to create a google chrome extension that could
        classify the emotions of the chat messages found in a Twitch.tv recorded live stream.
        </p>
        <br />
        <p>The technologies used in this project are NodeJS, Twitch API, and Google Chrome extension.
        </p>
        <p class='tag'>&lt;/introduction&gt;</p>
        <br />
        <p class='tag'>&lt;methodology&gt;</p>
        <p>The google chrome extension used artificial intelligence in a form of 
        supervised machine learning such as Naive Bayes Classifier and Support Vector Machines
        to categorize the chat messages into their correct sentiment.</p>
        <br />
        <p> The sentiment was then used to annotate which parts of the recorded live stream 
        are amusing, infuriating, pathetic, or neutral. The google chrome extension showed this
        by using a specific color for each sentiment and presented the aggregation of colors
        below the livestream
        </p>
        <p class='tag'>&lt;/methodology&gt;</p>
        <br />
        <p><a href='#twitch_annotator.png'>Screenshot</a></p>
        <br />
    </div>
</div>