html {
   background: url('../images/contact_us_bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    overflow: auto;
}

body {
    background-color: transparent;
}

div h4{
    margin-bottom:0;
}
div p.white-text{
    margin-top: 10px;
    margin-bottom: 5px;
}

/**TEMPORARY FIX FOR BLACK THINGY**/
div.nav-wrapper{
  background-color: rgba(255,255,255,0.2);
}


div#cover > div {
    text-align: center;
}

div#cover > div > p {
    font-size: 0.75em;
}

div#form {
    background-color: rgba(255, 255, 255, .2);
    font-size: 1em;
    width: 75%;
    min-height: 14em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    div#cover h4{
        margin-top: 2em;
    }

    div#form {
        height: 30em;
    }

    div#form form textarea{
        height: 15em;
    }
}

@media only screen and (max-width: 800px) {
    div#contact_info div.addr p.white-text {
        font-size: 10px;
    }
}

div#form form label{
    color: white;
}

div#form form button{
    border: white solid 1px;
    color: white;
}

form > div > p {
    font-size: 2.5vh;
}

div#contact_info {
    padding-top: 1em; 
    margin-bottom: 0;      
    width: 80%;
}

div#contact_info div.social div.social-icons img{
    width: 1.5em !important;
}

div#contact_info > div.addr {
    display: inline;
}

div#contact_info > div.addr p {
}

div#contact_info > div.social > div.row{
    border-left: white solid 1px;
    border-right: white solid 1px;
    height: 100%;
}

div#contact_info > div.social img {
    width: 2.5em;
}

div#contact_info > div.org-email p {
    text-align: left;
}

div#cover .white-text{
    font-weight: normal;
}

div#contact_info div.social .row{
    margin: 5px 0;
}
    