body{
	background-color: #f5f8fa;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.page{
	background-image: url("../images/subdomain/2 THE EVENT/theevent_bg.png");
	background-repeat: repeat;
	height: inherit;
	position: inherit;
	width: 100%;
}
.navbar-fixed{
	margin-bottom: 3%;
}
.navbar{
	background-color: #fff;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color:#292f33;
	height: 8%;
	padding: 0 10% 0 10%;
	position: fixed; 
}
.main{
	height:87.25%;
	position: relative;
	width:100%;
}
#title{
	background: url("../images/subdomain/2 THE EVENT/workshops header.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 45%;
	width: 100%;
	padding-top: 10%;
}
#title h2{
	color: white;
	font-size: 3.5em;
	letter-spacing: 0.1em;
	margin: 0;
	position: relative;
	text-align: center;	
}
.sections{
	height: 55%;
	padding: 0.5% 8% 2.5% 10%;
	width: 100%;
}
.sectors{
	float: left;
	height: 100%;
	margin-right: 3%;
	position: relative;
	width: 30%;
}
#links{
	color: blue;
	font-size: 1.5em;
	height: 100%;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
}
#linklist{
	margin: 0;
}
#linklist li{
	margin: 1.2em 0 0 0;
}