@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto');

/* color pallete: http://www.colourlovers.com/palette/292482/Terra */

html {
  min-height: 100%;
}

body {
	background-color: #031634;
	font-family: 'Inconsolata', monospace;
	min-height: 100%;
	color: #EDF6EE;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	color: #CDB380;
	margin: 0;
	font-weight: bold;
	line-height: normal !important;
}

ul {
	margin: 0 0 0 0;
}

p {
	color: #EDF6EE;
	margin: 0;
}

footer > p {
	margin: 0;
}

div#content {
	width: 100%;
	height: 100%;
}

.comment {
	color: #999999;
}

span.emphasis {
	color: #CFF09E;
	font-style: italic;
}

div#loading {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

div#loading > img {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

div#affil > p {
	margin: 0;
}

div#side-nav {
	background-color: #033649;
	color: #CDB380;
	border-right: 1px solid #888888;
	width: 100%;
	height: 100%;
}

div#side-nav ul li {
	line-height: 24px;
}

div#side-nav ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	padding: 0 2em;
}

div#side-nav ul a {
	color: #CDB380;
	line-height: 24px;
	height: auto;
	padding: 0 0 !important;
}

div#side-nav ul li {
	padding: 0 1em;
}

.collapsible {
	border: 0;
}

.collapsible-header {
	min-height: 0;
	padding: 0 32px !important;
	line-height: 24px !important;
}

a:link, a:visited {
	color: #CDB380;
}

a:hover {
	text-decoration: underline;
}

div.collapsible-body {
	background-color: #033649 !important;
}

.caption {
	margin: 1em;
}

main a:link, main a:visited {
	color: #E8DDCB;
	text-decoration: underline;
}

main a:hover {
	text-decoration: none;
}

li#logo-wrapper a {
	line-height: normal;
}

img#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
	width: 250px;
	height: auto;
}

img#nav-mobile-img {
	width: 24px;
	height: auto;
}

a.brand-logo {
	line-height: 0px;
	float: right;
}

i.material-icons {
	font-size: 20px;
	height: auto !important;
	line-height: 24px !important;
	color: #CDB380 !important;
}

p.tag {
	color: #ef9a9a;
	font-style: italic;
}

div#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.25);
	z-index: 98;
	transition: opacity 500ms, visibility 500ms;
}

div#black-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 99;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}

.fade-in {
	animation-name: slidein;
	animation-duration: 500ms;
	opacity: 1 !important;
	visibility: visible !important;
}

.fade-out {
	animation-name: slideout;
	animation-duration: 500ms;
	opacity: 0 !important;
	visibility: hidden !important;
}

@media only screen and (min-width: 993px) {
	header {
		width: 300px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}

	footer {
		position: fixed;
		top: 100%;
		transform: translate(0, -100%);
		width: 300px;
		padding: 1em;
		z-index: 100000;
	}

	main > img {
		padding: 1em 1em;
		max-width: calc(100% - 300px) !important;
	}

	main {
		margin-left: 300px;
		counter-reset: line;
	}

	main p, main h1, main h2, main li {
		margin-left: 2em;
		counter-increment: line;
	}

	main p:before, main h1:before, main h2:before{
		content: counter(line);
		display: inline-block;
		border-right: 1px solid #fff;
		width: 2em;
		margin-left: -2em;
		padding: 0 .5em;
		margin-right: .5em;
		color: #AAAAAA;
		-webkit-user-select: none;
		user-select: none;
		font-style: normal;
		font-weight: normal;
	}

	div#black-overlay {
		display: none;
	}
}

@media only screen and (max-width: 992px) {
	header {
		width: 100%;
		top: 0;
		left: 0;
	}

	header div#side-nav {
		position: fixed;
		top: 0;
		left: -100%;
		width: 75%;
		z-index: 9999;
		overflow-y: scroll;
		transition: left 2s;
	}

	footer {
		position: fixed;
		top: 100%;
		left: 50%;
		width: 100%;
		text-align: center;
		transform: translate(-50%, -100%);
		background-color: #033649;
	}

	main > img {
		padding: 1em 1em;
		max-width: 100%;
	}

	nav {
		background-color: #033649;
		height: auto !important;
		padding: 1em 1em;
	}

	nav .button-collapse {
		height: auto !important;
	}

	main {
		margin-bottom: 5em;
	}

	div#side-nav ul a, div#side-nav ul i {
		line-height: 48px !important;
	}

	@keyframes slidein {
		from { left: -100%; }
		to { left: 0; }
	}

	@keyframes slideout {
		from { left: 0; }
		to { left: -100%; }
	}

	.going-in {
		animation-name: slidein;
		animation-duration: 1s;
		left: 0 !important;
	}

	.going-out {
		animation-name: slideout;
		animation-duration: 1s;
		left: -100% !important;
	}
}