@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto');

html {
  min-height: 100%;
}

body {
	background-color: #031634;
	font-family: 'Inconsolata', monospace;
	min-height: 100%;
	color: #EDF6EE;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	color: #CDB380;
	margin: 0;
	font-weight: bold;
	line-height: normal !important;
}

ul {
	margin: 0 0 0 0;
}

.comment {
	color: #999999;
}

p {
	color: #EDF6EE;
	margin: 0;
}

footer {
	position: fixed;
	top: 100%;
	transform: translate(0, -100%);
	width: 300px;
	padding: 1em;
	z-index: 100000;
}

footer > p {
	margin: 0;
}

div#loading {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

div#loading > img {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

div#affil > p {
	margin: 0;
}

ul.side-nav {
	background-color: #033649;
	color: #CDB380;
	border-right: 1px solid #888888;
}

ul.side-nav li {
	line-height: 24px;
}

li {
	padding: 0 2em;
}

ul.side-nav a {
	color: #CDB380;
	line-height: 24px;
	height: auto;
	padding: 0 0 !important;
}

ul.side-nav li {
	padding: 0 1em;
}

.collapsible {
	border: 0;
}

.collapsible-header {
	min-height: 0;
	padding: 0 32px !important;
	line-height: 24px !important;
}

a:link, a:visited {
	color: #CDB380;
}

a:hover {
	text-decoration: underline;
}

div.collapsible-body {
	background-color: #033649 !important;
}

section {
	margin-left: 300px;
	counter-reset: line;
}

section > img {
	margin: 1em;
	max-width: calc(100% - 300px) !important;
}

.caption {
	margin: 1em;
}

section a:link, section a:visited {
	color: #E8DDCB;
	text-decoration: underline;
}

section a:hover {
	text-decoration: none;
}

section p, section h1, section h2, section li {
	margin-left: 2em;
	counter-increment: line;
}

section p:before, section h1:before, section h2:before{
	content: counter(line);
	display: inline-block;
	border-right: 1px solid #fff;
	width: 2em;
	margin-left: -2em;
	padding: 0 .5em;
	margin-right: .5em;
	color: #AAAAAA;
	-webkit-user-select: none;
	user-select: none;
	font-style: normal;
	font-weight: normal;
}

li#logo-wrapper a {
	line-height: normal;
}

img#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
	width: 250px;
	height: auto;
}

i.material-icons {
	font-size: 20px;
	height: auto !important;
	line-height: 24px !important;
	color: #CDB380 !important;
}

p.tag {
	color: #ef9a9a;
	font-style: italic;
}