@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

/*
	unused colors:
	#7d8cbb - light purple
	#bab2b7 - light brown
*/

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

body {
	background-color: #d9d6d8;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #124f90;
}

p {
	color: #0d1121;
	margin: 0 0 0 0;
}

a:link, a:visited {
	color: #7d8cbb;
}

.highlight {
	font-weight: bold;
}

section {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

footer {
	background-color: #0d1121;
}

footer > p, a {
	color: white;
	text-align: center;
	padding: 1em 1em 1em 1em;
}

div.container {
	background-color: white;
	padding: 0;
}

div#loading {
	text-align: center;
	position: fixed;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div#content {
	display: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

div#banner-wrapper {
	background-color: #124f90;
}

img#banner {
	margin-top: 1em;
	margin-left: 2em;
	margin-bottom: 0.5em;
	-webkit-filter: invert(100%); 
	filter: invert(100%);
}

nav#navbar {
	background-color: #0d1121;
	border-radius: 0;
}

nav#navbar > ul > li > a {
	color: white;
}

a.nav-link:hover {
	text-decoration: underline;
}

img#me {
	width: auto;
	height: auto;
	border-radius: 100%;
}

p.tabbed {
	margin-left: 2em;
}

p.right {
	text-align: right;
}

p#shortcuts {
	margin-top: 3em;
}

div.bx-wrapper {
	margin-bottom: 0 !important;
}

div.bx-viewport {
	box-shadow: 0 0 !important;
	border: 0 !important;
}

a.bx-prev {
	left: 0 !important;
}

div.bx-pager-item{
	display: none !important;
}