<div>
	<div>
		<p class='comment'>/* about.page */</p>
		<p></p>
		<p class='tag'>&lt;introduction&gt;</p>
		<h1>Julius Jireh B. Vega (b. 1996)</h1>
		<p></p>
		<p class='tag'>&lt;image source="<a href='#my_picture.jpg'>my_picture.jpg</a>" /&gt;</p>
		<p></p>
		<p>I am a <span class='emphasis'>software developer</span>. </p>
		<p>I graduated from the University of the Philippines in Los Ba&ntilde;os </p>
		<p>with the degree of B.S. Computer Science, class of 2017. I love to learn </p>
		<p>and perfect my own craft. I also desire to grow and become a better developer.</p>
		<p></p>
		<p>I have a background in <span class='emphasis'>developing websites and web applications</span></p>
		<p>using NodeJS and MySQL together with different CSS Frameworks such as Bootstrap and</p>
		<p>Materialize. I am capable to implement Image Processing using C++ and OpenCV as well as</p>
		<p>parallel computing using C and MPI. Java is my preferred programming language in</p>
		<p>creating stand-alone applications. With sufficient knowledge of android development, </p>
		<p>I am also experienced in <span class='emphasis'>creating applications for Android phones</span>.</p>
		<p>When it comes to putting my work on the internet, I prefer to use <span class='emphasis'>AWS</span>.</p>
		<p class='tag'>&lt;/introduction&gt;</p>
		<p></p>
		<p class='tag'>&lt;affiliation&gt;</p>
		<h2>Organization</h2>
		<p>Alliance of Computer Science Students - UPLB (est. 2014)</p>
		<p><span class='highlight'>Position: </span> Assistant Developer for Academic Affairs</p>
		<p class='tabbed'>2nd Semester 2015-2016, 1st and 2nd Semester 2016-2017</p>
		<p class='tag'>&lt;/affiliation&gt;</p>
		<p></p>
		<p id='shortcuts'><a class='highlight' href='#contact'>Contact me</a></p>
		<p></p>
	</div>
</div>