<div class='row'>
	<div class='col-sm-4 hidden-sm-down'>
		<img src='assets/img/me.jpg' class='img-fluid' id='me' alt='Picture of myself' />
	</div>
	<div class='col-md-8 col-sm-12'>
		<div id='intro'>
			<div class='hidden-sm-down'>
				<h1>Julius Jireh B. Vega</h1>
			</div>
			<div class='hidden-md-up media'>
				<p class='media-left'>
					<img src='assets/img/me-small.jpg' class='media-object' id='me-sm' alt='Picture of myself' />
				</p>
				<div class='media-body'>
					<h2 class='media-heading'>Julius Jireh B. Vega</h2>
				</div>
			</div>
			<p>
				Born and grew up in Laguna, Philippines, Julius is a student in University of the Philippines Los Baños who loves learning and he is an aspiring full stack developer.
				He has a background in developing web applications using NodeJS, and MySQL on server side and also capable of using Bootstrap and Materialize CSS Frameworks.
				Additionally, he knows how to do Image Processing using C++ and OpenCV and loves to code stand-alone applications and games using Java.
				He can also create android applications for smartphone devices using Android Studio.
			</p>
		</div>
		<div>
			<h2> Affiliation </h2>
			<p>Alliance of Computer Science Students (ACSS) UPLB</p>
			<p><span class='highlight'>Position: </span> Assistant Developer for Academic Affairs</p>
			<p class='tabbed'>2nd Semester 2015-2016, 1st and 2nd Semester 2016-2017</p>
		</div>
	</div>
</div>
<div class='row'>
	<div class='hidden-sm-down'>
		<p class='right' id='shortcuts'><a class='highlight' href='#projects'>Past Projects</a> | <a class='highlight' href='#contact'>Contact me</a></p>
	</div>
	<div class='hidden-md-up'>
		<p id='shortcuts'><a class='highlight' href='#projects'>Past Projects</a> | <a class='highlight' href='#contact'>Contact me</a></p>
	</div>
</div>