<div class='row'>
	<div class='col s12'>
		<div id='intro'>
			<div class='comment'>
				/* about.html */
			</div>
			<br />
			<div>
				<h1>Julius Jireh B. Vega</h1>
			</div>
			<p>
				Born and grew up in Laguna, Philippines, Julius is a computer science student in University of the Philippines Los Baños who loves learning, tries to finish the tasks on time, and aspires to become a full stack developer.
				He has a background in developing web applications using NodeJS and MySQL together with Bootstrap and Materialize CSS Frameworks.
				Additionally, he knows how to implement Image Processing using C++ and OpenCV as well as parallel computing using C and MPI.
				Java is his favorite programming language in creating stand-alone applications and games. He also creates android applications for smartphone devices using Android Studio.
			</p>
			<br />
			<p>
				Furthermore, he is a card trick enthusiast, puzzle lover, and a DotA player for life.
			</p>
		</div>
		<br />
		<div id='affil'>
			<h2> Affiliation </h2>
			<p>Alliance of Computer Science Students (ACSS) UPLB</p>
			<p><span class='highlight'>Position: </span> Assistant Developer for Academic Affairs</p>
			<p class='tabbed'>2nd Semester 2015-2016, 1st and 2nd Semester 2016-2017</p>
		</div>
		<br />
		<div>
			<p id='shortcuts'><a class='highlight' href='#projects'>Past Projects</a> | <a class='highlight' href='#contact'>Contact me</a></p>
		</div>
	</div>
</div>