<ul class='side-nav fixed'>
		<li>
			<a href='#about'>about_myself.html</a>
		</li>
		<li>
			<a class='collapsible-header'><i class='material-icons'>arrow_drop_down</i>past_projects</a>
			<div class='collapsible-body'>
				<ul class='collapsible'>
					<li>
						<a class='collapsible-header'><i class='material-icons'>arrow_drop_down</i>past_projects_sample</a>
						<div class='collapsible-body'>
							<ul class='collapsible'>
								<li><a href='#'>diet_optimizer.html</a></li>
								<li><a href='#'>project_nine.html</a></li>
								<li><a href='#'>systemone_reborn.html</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href='#projects'>past_projects.html</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href='#contact'>contact_me.html</a>
		</li>
	</ul>
</nav>
<script type='text/javascript'>
$(document).ready(function(){
	$('.collapsible').collapsible();
});
</script>