<ul class='side-nav fixed collapsible' data-collapsible='accordion'>
		<li>
			<a href='#about'>about_myself.html</a>
		</li>
		<li>
			<a class='collapsible-header'>past_projects</a>
			<div class='collapsible-body'>
				<ul class='collapsible' data-collapsible='accordion'>
					<li>
						<a class='collapsible-header'>past_projects_sample</a>
						<div class='collapsible-body'>
							<ul class='collapsible'>
								<li>
									<a class='collapsible-header'>past_projects_screenshots</a>
									<div class='collapsible-body'>
										<ul>
											<li><a href='#diet.png'>diet.png</a></li>
											<li><a href='#nine.png'>nine.png</a></li>
											<li><a href='#s1reborn.png'>s1reborn.png</a></li>
										</ul>
									</div>
								</li>
								<li><a href='#diet'>diet_optimizer.html</a></li>
								<li><a href='#nine'>project_nine.html</a></li>
								<li><a href='#systemone'>systemone_reborn.html</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href='#projects'>past_projects.html</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href='#contact'>contact_me.html</a>
		</li>
	</ul>
</nav>
<script type='text/javascript'>
$(document).ready(function(){
	$('.collapsible').collapsible();
	$('div.collapsible-body > ul > *').css('padding-left', function (index, curValue) {
		return parseInt(curValue, 10) + 16 + 'px';
	});
});
</script>