<div class='row'>
	<div class='col s12'>
		<p class='comment'>/* about.page */</p>
		<br />
		<p class='tag'>&lt;introduction&gt;</p>
		<h1>Julius Jireh B. Vega (b.1996)</h1>
		<p class='tag'>&lt;image source="<a href='#my_picture.jpg'>my_picture.jpg</a>" /&gt;</p>
		<p>Julius is a <span class='emphasis'>dedicated software developer</span>. 
		He graduated from the University of the Philippines in Los Ba&ntilde;os 
		with the degree of B.S. Computer Science, class of 2017. He loves learning, always punctual,
		does his best to meet the deadline, and aspires to become a better developer than before.
		</p>
		<br />
		<p>
		Julius has a background in <span class='emphasis'>developing web sites and web applications</span> using NodeJS and MySQL 
		together with Bootstrap and Materialize CSS Frameworks. He is capable to implement 
		Image Processing using C++ and OpenCV as well as parallel computing using C and MPI.
		Java is his preferred programming language in creating stand-alone applications.
		With sufficient knowledge of android development, he is also experienced in 
		<span class='emphasis'>creating applications for android smart phones</span>.
		<span class='emphasis'>AWS</span> is his preferred web services when deploying his works to the internet.
		</p>
		<br />
		<p>Furthermore, he is a card trick enthusiast, puzzle lover, and a DotA player for life.</p>
		<p class='tag'>&lt;/introduction&gt;</p>
		<br />
		<p class='tag'>&lt;affiliation&gt;</p>
		<h2>Organization</h2>
		<p>Alliance of Computer Science Students (ACSS) UPLB</p>
		<p><span class='highlight'>Position: </span> Assistant Developer for Academic Affairs</p>
		<p class='tabbed'>2nd Semester 2015-2016, 1st and 2nd Semester 2016-2017</p>
		<p class='tag'>&lt;/affiliation&gt;</p>
		<br />
		<p id='shortcuts'><a class='highlight' href='#contact'>Contact me</a></p>
		<br />
	</div>
</div>