<div>
	<div>
		<p class='comment'>/* previous employments */</p>
		<br />
		<p class='tag'>&lt;paymaya&gt;</p>
		<h1>Paymaya Philippines, Inc.</h1>
		<br />
		<p class='highlight'>July 2017 to July 2018</p>
		<br />
		<p>Voyager Innovations is an IT company under PLDT and Smart that focuses 
		on finance technology. I was employed by a company under Voyager
		Innovation which is Paymaya Philippines Inc.</p>
		<br />
		<p>Inside the company, our team was tasked to develop and configure the
		different tools to be used in Continuous Integration and Continuous
		Delivery (e.g. Jenkins and Gitlab).</p>
		<br />
		<p>I also maintained existing projects inside the company that is
		used by the different products inside the company. Examples of these
		projects are a reward platform, coupon management, and data privacy.</p>
		<br />
		<p>The technologies I used while inside the company are Amazon Web Services
		(AWS), Linux, Bourne Again Shell (bash), Puppet, and Terraform.</p>
		<p class='tag'>&lt;/paymaya&gt;</p>
	</div>
</div>