<div>
	<div>
		<p class='comment'>/* previous employments */</p>
		<p></p>
		<p class='tag'>&lt;paymaya&gt;</p>
		<h1>Paymaya Philippines, Inc.</h1>
		<p></p>
		<p class='highlight'>July 2017 to July 2018</p>
		<p></p>
		<p>Voyager Innovations is an IT company under PLDT and Smart that focuses </p>
		<p>on finance technology.I was employed by a company under Voyager Innovation </p>
		<p>which is Paymaya Philippines Inc.</p>
		<p></p>
		<p>Inside the company, our team was tasked to develop and configure the</p>
		<p>different tools to be used in Continuous Integration and Continuous</p>
		<p>Delivery (e.g. Jenkins and Gitlab).</p>
		<p></p>
		<p>I also maintained existing projects inside the company that is</p>
		<p>used by the different products inside the company. Examples of these </p>
		<p>projects include a reward platform, coupon management, and data privacy.</p>
		<p></p>
		<p>The technologies I used while inside the company are Amazon Web Services</p>
		<p>(AWS), Linux, Bash, Puppet, and Terraform.</p>
		<p></p>
		<p>Website:<a class='highlight' href='https://www.maya.ph/'>Voyager Innovations, Inc. (Now Maya Philippines)</a>
		<p class='tag'>&lt;/paymaya&gt;</p>
	</div>
</div>