<div class='row'>
	<div class='col s12'>
		<div class='comment'>
			/*past_projects.html*/
		</div>
		<br />
		<h2>Internship</h2>
		<ul>
			<li>National Pork Traceability System</li>
		</ul>
		<br />
		<h2>Academic Projects</h2>
		<ul>
			<li>Tetris Battle [CMSC22]</li>
			<li>LOLCode Interpreter [CMSC124] - <a href='https://github.com/holyPancakes/LOLCodeInterpreter_OTP'>Source Code</a></li>
			<li>Tic-tac-toe with AI (Minimax Algorithm) [CMSC170]</li>
			<li>Car Wars [CMSC137] - <a href='https://github.com/juliusvega998/cmsc137project'>Source Code</a></li>
			<li>Diet Optimizer (plus Simplex Solver) [CMSC150] - <a href='https://github.com/juliusvega998/cmsc150project'>Source Code</a></li>
		</ul>
		<br />
		<h2>ACSS Projects</h2>
		<ul>
			<li>Project NINE - <a href='http://upciem.org/'>UPCIEM Website</a></li>
			<li>Project YOUNG BLOOD - Point of Sale - <a href='https://github.com/acssuplb/projectyoungblood2016'>Source Code</a></li>
		</ul>
		<br />
		<h2>Other Projects</h2>
		<ul>
			<li>Inventory System - <a href='https://github.com/juliusvega998/inventory'>Source Code</a></li>
			<li>Computer-Aided Remote Expert (CARE) System</li>
			<li>SystemOne:Reborn - <a href='http://systemone-reborn.uplb.edu.ph/'>Website</a></li>
		</ul>
	</div>
</div>